ultralytics==8.2.103
opencv-python
numpy
fastapi
uvicorn
Pillow
pydantic
requests
easyocr==1.7.1 ## Bu OCR lerden birini kuramın kolay yolu bu kod : paddlepaddle==2.6.1; sys_platform == 'linux' paddleocr==2.7.3; sys_platform == 'linux'
# ROS için (Docker imajında)
rospkg
catkin_pkg